<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>infotopia</display-name>

	<!-- ############################# App Setting Start ############################# -->
	<!-- ### Encoding Filter Configration Start ### -->
	<!-- 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>com.common.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
 
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ### Encoding Filter Configration End ### -->

	<!-- ### Log4j Configration Start ### -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/conf/properties/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!-- ### Log4j Configration End ### -->

	<!-- ### Servlet Configration Start ### -->
	<!-- Spring -->
	<context-param>
	    <param-name>contextConfigLocation</param-name>        
		<param-value>/WEB-INF/conf/spring/*.xml</param-value>
	</context-param>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/conf/spring/*.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- Initializer -->
	<servlet>
		<servlet-name>Initializer</servlet-name>
		<servlet-class>com.common.utils.InitServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- File DownLoad -->
	<servlet>
		<servlet-name>File DownLoad</servlet-name>
		<servlet-class>com.common.utils.FileDownUtil</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>File DownLoad</servlet-name>
		<url-pattern>/fileDown.do</url-pattern>
	</servlet-mapping>
	
	<!-- WebService Restful(웹서비스가 존재할 경우에만 설정) -->
	<!--  
	<servlet>
		<servlet-name>Jersey Spring Servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>  
          	<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>    
          	<param-value>com.sun.jersey.api.core.ClasspathResourceConfig</param-value>  
		</init-param>
		<init-param>
       		<param-name>com.sun.jersey.config.property.packages</param-name>
     		<param-value>com.sample.biz</param-value>
     	</init-param>
		<init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Spring Servlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	-->
	<!-- ### Servlet Configration End ### -->
	<!-- ############################# App Setting End ############################# -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>